html {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --trans-white: hsl(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);

    font-size: 15px;
}

.all-cards {
    display: flex;
}

.card-title {
    font-family: 'Big Shoulders Display';
}

.card-text {
    font-family: 'Lexend Deca';
}

.sedan-card {
    background-color: var(--orange);
    height: 500px;
    width: 307px;
}

.sedan-icon {
    height: 64px;
    width: 40px;
}

.suv-card {
    background-color: var(--cyan);
    height: 500px;
    width: 307px;
}

.lux-card {
    background-color: var(--dark-cyan);
    height: 500px;
    width: 307px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {

}

@media only screen and (min-width: 376px) {

}