html {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --trans-white: hsl(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);

    font-size: 15px;
}

body {
    background-color: var(--light-gray);
}

.icon {
    height: 40px;
    width: 64px;
    margin-left: 48px;
    margin-top: 48px;
}

.card-title {
    font-family: 'Big Shoulders Display';
    font-size: 40px;
    color: var(--light-gray);
    margin-left: 48px;
    margin-top: 35px;
}

.card-text {
    font-family: 'Lexend Deca';
    color: var(--light-gray);
    line-height: 25px;
    margin-left: 48px;
    margin-top: 25px;
}

.learn-more {
    background-color: var(--light-gray);
    border: 2px solid var(--light-gray);
    height: 48px;
    width: 146px;
    border-radius: 25px;
    font-family: 'Lexend Deca';
    margin-left: 48px;
}

.sedan-button {
    color: var(--orange);
}

.suv-button {
    color: var(--cyan);
}

.lux-button {
    color: var(--dark-cyan);
}

.sedan-card {
    background-color: var(--orange);
}

.suv-card {
    background-color: var(--cyan);
}

.lux-card {
    background-color: var(--dark-cyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
    .all-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-text {
        display: block;
        width: 231px;
        height: 125px;
        margin-bottom: 0;
    }

    .learn-more {
        margin-top: 25px;
    }

    .sedan-card {
        width: 327px;
        height: 450px;
        border-radius: 8px 8px 0 0;
    }

    .suv-card {
        width: 327px;
        height: 450px;
        border-radius: 8px 8px 0 0;
        margin-top: -8px;
    }

    .lux-card {
        width: 327px;
        height: 442px;
        border-radius: 8px;
        margin-top: -8px;
    }
}

@media only screen and (min-width: 376px) {
    .all-cards {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .card-text {
        display: block;
        height: 125px;
        width: 212px;
    }
    
    .learn-more {
        margin-top: 68px;
    }
    
    .sedan-button:hover {
        color: var(--light-gray);
        background-color: var(--orange);
        cursor: pointer;
    }
    
    .suv-button:hover {
        color: var(--light-gray);
        background-color: var(--cyan);
        cursor: pointer;
    }
    
    .lux-button:hover {
        color: var(--light-gray);
        background-color: var(--dark-cyan);
        cursor: pointer;
    }
    
    .sedan-card {
        height: 500px;
        width: 315px;
        border-radius: 8px 0 0 8px;
    }
    
    .suv-card {
        height: 500px;
        width: 315px;
        margin-left: -8px;
        border-radius: 8px 0 0 8px;
    }
    
    .lux-card {
        height: 500px;
        width: 307px;
        margin-left: -8px;
        border-radius: 8px;
    }
}