html {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --trans-white: hsl(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);

    font-size: 15px;
}

.card-title {
    font-family: 'Big Shoulders Display';
    font-size: 40px;
    color: var(--light-gray);
}

.card-text {
    font-family: 'Lexend Deca';
    color: var(--light-gray);
    line-height: 25px;
}

.learn-more {
    background-color: var(--light-gray);
    border: 2px solid var(--light-gray);
    height: 48px;
    width: 146px;
    border-radius: 25px;
    font-family: 'Lexend Deca';
}

.sedan-button {
    color: var(--orange);
}

.suv-button {
    color: var(--cyan);
}

.lux-button {
    color: var(--dark-cyan);
}

.sedan-card {
    background-color: var(--orange);
    border-radius: 8px 0 0 8px;
}

.suv-card {
    background-color: var(--cyan);
    border-radius: 8px 0 0 8px;
}

.lux-card {
    background-color: var(--dark-cyan);
    border-radius: 8px;
}

/* Is attribution a common style, or different between screen sizes? */

@media only screen and (max-width: 375px) {
    
}

@media only screen and (min-width: 376px) {
    .all-cards {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .icon {
        margin-left: 48px;
        margin-top: 48px;
    }
    
    .card-title {
        margin-left: 48px;
        margin-top: 35px;
    }
    
    .card-text {
        display: block;
        margin-left: 48px;
        margin-top: 25px;
        height: 125px;
        width: 212px;
    }
    
    .learn-more {
        margin-left: 48px;
        margin-top: 68px;
    }
    
    .sedan-button:hover {
        color: var(--light-gray);
        background-color: var(--orange);
    }
    
    .suv-button:hover {
        color: var(--light-gray);
        background-color: var(--cyan);
    }
    
    .lux-button:hover {
        color: var(--light-gray);
        background-color: var(--dark-cyan);
    }
    
    .sedan-card {
        height: 500px;
        width: 315px;
    }
    
    .suv-card {
        height: 500px;
        width: 315px;
        margin-left: -8px;
    }
    
    .lux-card {
        height: 500px;
        width: 307px;
        margin-left: -8px;
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}